body{
background-image: url("https://i.pinimg.com/originals/d6/68/ab/d668abc72809303852c27275e6a56775.gif");
  
}

p{
  color: #FF0066;
  font-size: 40px;
}

h1{
color: #FF0066;
  font-size: 70px;
  border: solid 20px blue;
  border-color: #00f9ff;
}

div{
  font-size: 30px;
  color: blue;
}

a{
  color: 	#ffffff;
  font-size: 45px;
}

div.classy {
  border: double 12px black;
  background-color: blue;
}
