body{
  background-image: url("https://data.whicdn.com/images/277379513/original.gif");
  background-repeat: repeat;
  background-size: cover;
}

h1{
  color: blue;
  font-size: 100px;
  border: solid 20px purple;
}

p{
  font-size: 50px;
  color: pink;
  text-align: center;
}

div{
   font-size: 30px;
  color: blue;
}
  
a{
  color: blue;
  font-size: 45px;
}


div.classy {
  border: double 12px black;
  background-color: pink;
}
 


