h1 {
  font-family:'Oswald', sans-serif;
  font-size: 75px;
  color: black;
}

h1.title{
  background-color: rgba(0%, 41.2%, 58%, .35);
  border-style: solid;
  border-color: black;
}

p {
  font-size: 50px;
  font-family: 'Arimo', sans-serif;
}

p.paragraph {
  background-color: rgba(0%, 41.2%, 58%, .45);
  border-style: solid;
  border-color: black;
}

h2 {
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
}

h2.heading_2 {
  background-color: rgba(0%, 41.2%, 58%, .45);
  border-style: solid;
  border-color: black;
}

div{
  font-size: 30px;
  font-color: black;
}

a{
  color: black;
  font-size: 45px;
}


body {
  background-image: url(https://media3.rbl.ms/i/?u=%2fxTiTnh2aOhgpHDuaPu.gif&h=https%3a%2f%2fi.giphy.com&c=1004431650);
  background-repeat: no-repeat;
  background-size: 2000px 1500px;
}
